<!DOCTYPE html>
<html lang="en">

<body>
       
   <section class="account">
       <h1>Account</h1>
        <div>
            <p class="p">Email</p>
            <input name="text" type="Email_ID" placeholder="Enter Email " class="email"/>
        </div>
        <div>
            <p class="p">Password</p>
            <input type="Password" name="Password" placeholder="Enter Password" maxlength="8" class="password" />
        </div>
        <div>
            <button class="sign"><b>Login</b></button>
        </div>
        <div>
            <img src="pics/offer.png" alt="offer" class="offer">
        </div>
   </section>

</body>
</html>