<!DOCTYPE html>
<html lang="en">
<body>

    <section class="Blog">
        <div class="container">
            <div class="upper">
                <h1>Blogs</h1>
            </div>
            <div class="left">    
                <p><a href="" id="none">Lorem Ipsum is Simply</p></a>
                <a href="/pages/comment"><div class="card"></div></a>
                <div>
                    <ul>
                    <li><i class="fa fa-user" aria-hidden="true"></i>Admin</li>
                    <li><i class="fa fa-calendar" aria-hidden="true"></i>12-02-2020</li>
                    <li><i class="fa fa-comment-o" aria-hidden="true"></i>No comment</li>
                </ul>
                </div>
                <div class="under_para">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div>
                    <button class="more">Read More</button>
                </div>
            
                <p><a href="" id="none">Lorem Ipsum is Simply</p></a>
                <a href="/pages/comment"><div class="card"></div></a>
                <div>
                    <ul>
                    <li><i class="fa fa-user" aria-hidden="true"></i>Admin</li>
                    <li><i class="fa fa-calendar" aria-hidden="true"></i>12-02-2020</li>
                    <li><i class="fa fa-comment-o" aria-hidden="true"></i>No comment</li>
                </ul>
                </div>
                <div class="under_para">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div>
                    <button class="more">Read More</button>
                </div>
                <p><a href="" id="none">Lorem Ipsum is Simply</p></a>
                <a href="/pages/comment"><div class="card"></div></a>
                <div>
                    <ul>
                    <li><i class="fa fa-user" aria-hidden="true"></i>Admin</li>
                    <li><i class="fa fa-calendar" aria-hidden="true"></i>12-02-2020</li>
                    <li><i class="fa fa-comment-o" aria-hidden="true"></i>No comment</li>
                </ul>
                </div>
                <div class="under_para">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div>
                    <button class="more">Read More</button>
                </div>
            </div>
            <div class="right">
                <p><a href="" id="none">Lorem Ipsum is Simply</p></a>
                <a href="/pages/comment"><div class="card"></div></a>
                <div>
                    <ul>
                    <li><i class="fa fa-user" aria-hidden="true"></i>Admin</li>
                    <li><i class="fa fa-calendar" aria-hidden="true"></i>12-02-2020</li>
                    <li><i class="fa fa-comment-o" aria-hidden="true"></i>No comment</li>
                </ul>
                </div>
                <div class="under_para">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div>
                    <button class="more">Read More</button>
                </div>
                <p><a href="" id="none">Lorem Ipsum is Simply</p></a>
                <a href="/pages/comment"><div class="card"></div></a>
                <div>
                    <ul>
                    <li><i class="fa fa-user" aria-hidden="true"></i>Admin</li>
                    <li><i class="fa fa-calendar" aria-hidden="true"></i>12-02-2020</li>
                    <li><i class="fa fa-comment-o" aria-hidden="true"></i>No comment</li>
                </ul>
                </div>
                <div class="under_para">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div>
                    <button class="more">Read More</button>
                </div>
                <p><a href="" id="none">Lorem Ipsum is Simply</p></a>
                <a href="/pages/comment"><div class="card"></div></a>
                <div>
                    <ul>
                    <li><i class="fa fa-user" aria-hidden="true"></i>Admin</li>
                    <li><i class="fa fa-calendar" aria-hidden="true"></i>12-02-2020</li>
                    <li><i class="fa fa-comment-o" aria-hidden="true"></i>No comment</li>
                </ul>
                </div>
                <div class="under_para">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div>
                    <button class="more">Read More</button> 
                </div>
            </div>
        </div>    
    </section>
    




    
    
</body>
</html>