<!DOCTYPE html>
<html lang="en">
<body>

   <section class="cart">
       <p>My Shopping Bag (2)</p>
       <div>
        <img src="images/pic1.jpg" alt="pic" class="pic1">
        <h4 class="mount4">Mountain Hopper (XS R034)</h4>
        <span class="model">Model No:3576</span>
        <spann class="size"><pre> Size: 5                                          QTY:1 </pre></spann> 
        <span class="charge">Service Charge:Rs 100.00</span>     
       </div>
       
       <div>
        <img src="images/pic2.jpg" alt="pic" class="pic1">
        <h4 class="mount4">Mountain Hopper (XS R034)</h4>
        <span class="model">Model No:3576</span>
        <spann class="size"><pre> Size: 5                                          QTY:1 </pre></spann> 
        <span class="charge">Service Charge:Rs 100.00</span>     
       </div>
      








   </section>
   
</body>
</html>