<!DOCTYPE html>
<html lang="en">

<body>

   <section class="comment">
       <p class="lorem">Lorem Ipsum is Simply</p>
       <div alt="pic" class="com">
           <%=image_tag("Estore/images/b4.jpg")%>
       </div>
       <h1>Comment</h1>
       <div>
        <input name="text" type="NAME" placeholder=" Name" class="namec"/>
    </div>
    <div>
        <input name="text" type="Email" placeholder=" Email " class="emailc"/>

    </div>
    <div>
        <input name="text" type="Subject" placeholder="Subject " class="subjectc"/>
    </div>
    <div>
        <textarea name="Message" id="" cols="21" rows="10" placeholder="Message...." class="messagec"></textarea>
        
    </div>
     <div>
         <button  class="send">Send</button>
     </div>
   </section>
</body>
</html>