<!DOCTYPE html>
<html lang="en">

<body>

    <section class="contact">
        <h1>Contact</h1>
        <div>
            <input name="text" type="FIRST_NAME" placeholder="Enter First Name" class="name"/>
        </div>
        <div>
            <input name="text" type="Email_Address" placeholder="Enter Email " class="email1"/>

        </div>
        <div>
            <input name="text" type="Subject" placeholder="Subject " class="subject"/>
        </div>
        <div>
            <textarea name="Message" id="" cols="21" rows="10" placeholder="Message...." class="message"></textarea>
            
        </div>
        <div>
            <button class="sign">Send</button>
        </div>
        <div class="addresso">
            <h3>Address</h3>
            <p>The company name,<br> Arsalbrother's,<br> Main shadbagh Lahore</p>
        </div>
        <div class="address1">
            <h3>Contact</h3>
            <p>Tel:03034825132,<br> Fax:190-4509-494,<br> Email:Arsal721@gamil.com</p>
        </div>
    </section>

</body>
</html>