<!DOCTYPE html>
<html lang="en">
<body>
<nav class="navs"> 
</nav>
    <section class="Men">
        <div class="containers">
            <aside class="aside">
                <h5 class="cate">Categorise</h5>
                <div class="list">
                    <ul>
                        <li> Men</li>
                        <li>Women</li>
                        <li>Kids</li>
                        <li>Accesories</li>
                        <li>Shoes's</li>
                    </ul>
                    <div class="now" >
                        <span class="shop">Shop Now</span>
                    </div>
                    <h5 class="cate">Tags</h5>
                    <div class="tags">
                        <div class="tag1">
                            Design
                        </div>
                        <div class="tag1">
                            Fashion
                        </div>     
                        <div class="tag1">
                            Dress
                        </div>   
                        <div class="tag1"> Nike</div>
                      
                    </div>
                    <div class="tags">
                        <div class="tag1">
                            Design
                        </div>
                        <div class="tag1">
                            Fashion
                        </div>     
                        <div class="tag1">
                            Dress
                        </div>   
                        <div class="tag1"> Nike</div>                      
                    </div>
                    <div class="tags">
                        <div class="tag1">
                            Design
                        </div>
                        <div class="tag1">
                            Fashion
                        </div>     
                        <div class="tag1">
                            Dress
                        </div>   
                        <div class="tag1"> Nike</div>      
                    </div>
                    <div class="tags">
                        <div class="tag1">
                            Design
                        </div>
                        <div class="tag1">
                            Fashion
                        </div>     
                        <div class="tag1">
                            Dress
                        </div>   
                        <div class="tag1"> Nike</div>
                      
                    </div>
                
                
                    <h5 class="cate">Best Seller</h5>
                    <div class="seller">
                        <p class="mrs">Mrs.Anna</p>
                        <p class="dollar">$40.00</p>
                    </div>
                    <div class="seller1">
                        <p class="mrs1">Mrs.Anna</p>
                        <p class="dollar1">$40.00</p>
                    </div>
                    <div class="pros"> UP To <br> 60%</div>
                </div>
            </aside>

            <div class="product_right">
                <div class="main_products">
                    <div class="product1">
                        <div class="img"></div>
                        <div class="text">
                            <p style="color:gray;font-size: 15px;padding-left:2px;padding-top:15px;box-sizing: border-box;">It is a long established fact that a reader</p>
                        </div>
                        <div class="price"><i class="fa fa-cart-plus" aria-hidden="true" style="font-size:30px;color:white;margin-left:70px;margin-top:10px"></i><span style="color:white;margin-left:10px">$500.00</span>
                        </div>
                    </div>	
                    <div class="product2">
                        <div class="img"></div>
                        <div class="text">
                            <p style="color:gray;font-size: 15px;padding-left:2px;padding-top:15px;box-sizing: border-box;">It is a long established fact that a reader</p>
                        </div>
                        <div class="price"><i class="fa fa-cart-plus" aria-hidden="true" style="font-size:30px;color:white;margin-left:70px;margin-top:10px"></i><span style="color:white;margin-left:10px">$500.00</span>
                        </div>
                    </div>
                    <div class="product3">
                        <div class="img"></div>
                        <div class="text">
                            <p style="color:gray;font-size: 15px;padding-left:2px;padding-top:15px;box-sizing: border-box;">It is a long established fact that a reader</p>
                        </div>
                        <div class="price"><i class="fa fa-cart-plus" aria-hidden="true" style="font-size:30px;color:white;margin-left:70px;margin-top:10px"></i><span style="color:white;margin-left:10px">$500.00</span>
                        </div>
                    </div>							
                </div>
                <div class="main_products2">
                    <div class="product4">
                        <div class="img"></div>
                        <div class="text">
                            <p style="color:gray;font-size: 15px;padding-left:2px;padding-top:15px;box-sizing: border-box;">It is a long established fact that a reader</p>
                        </div>
                        <div class="price"><i class="fa fa-cart-plus" aria-hidden="true" style="font-size:30px;color:white;margin-left:70px;margin-top:10px"></i><span style="color:white;margin-left:10px">$500.00</span>
                        </div>
                    </div>	
                    <div class="product5">
                        <div class="img"></div>
                        <div class="text">
                            <p style="color:gray;font-size: 15px;padding-left:2px;padding-top:15px;box-sizing: border-box;">It is a long established fact that a reader</p>
                        </div>
                        <div class="price"><i class="fa fa-cart-plus" aria-hidden="true" style="font-size:30px;color:white;margin-left:70px;margin-top:10px"></i><span style="color:white;margin-left:10px">$500.00</span>
                        </div>
                    </div>
                    <div class="product6">
                        <div class="img"></div>
                        <div class="text">
                            <p style="color:gray;font-size: 15px;padding-left:2px;padding-top:15px;box-sizing: border-box;">It is a long established fact that a reader</p>
                        </div>
                        <div class="price"><i class="fa fa-cart-plus" aria-hidden="true" style="font-size:30px;color:white;margin-left:70px;margin-top:10px"></i><span style="color:white;margin-left:10px">$500.00</span>
                        </div>
                    </div>							
                </div>
                <div class="main_products">
                    <div class="product1">
                        <div class="img"></div>
                        <div class="text">
                            <p style="color:gray;font-size: 15px;padding-left:2px;padding-top:15px;box-sizing: border-box;">It is a long established fact that a reader</p>
                        </div>
                        <div class="price"><i class="fa fa-cart-plus" aria-hidden="true" style="font-size:30px;color:white;margin-left:70px;margin-top:10px"></i><span style="color:white;margin-left:10px">$500.00</span>
                        </div>
                    </div>	
                    <div class="product2">
                        <div class="img"></div>
                        <div class="text">
                            <p style="color:gray;font-size: 15px;padding-left:2px;padding-top:15px;box-sizing: border-box;">It is a long established fact that a reader</p>
                        </div>
                        <div class="price"><i class="fa fa-cart-plus" aria-hidden="true" style="font-size:30px;color:white;margin-left:70px;margin-top:10px"></i><span style="color:white;margin-left:10px">$500.00</span>
                        </div>
                    </div>
                    <div class="product3">
                        <div class="img"></div>
                        <div class="text">
                            <p style="color:gray;font-size: 15px;padding-left:2px;padding-top:15px;box-sizing: border-box;">It is a long established fact that a reader</p>
                        </div>
                        <div class="price"><i class="fa fa-cart-plus" aria-hidden="true" style="font-size:30px;color:white;margin-left:70px;margin-top:10px"></i><span style="color:white;margin-left:10px">$500.00</span>
                        </div>
                    </div>							
                </div>
            </div>
        </div>
    </section>
    

    
</body>
</html>