<!DOCTYPE html>
<html lang="en">

<body>  
    <nav class="nav">
        <div>
           <img src="title.png" alt="title">
        </div>
        <div class="links">
            <a class="home" href="Estore.html">HOME</a>
            <a class="man" href="Men.HTML">MEN</a>
            <a class="women"  href="">WOMEN</a>
            <a class="blogs" href="Blogs.HTML">BLOGS</a>
            <a class="conact" href="Contact.HTML">CONTACT</a>
        </div>  
    </nav>
    <section class="register">
        <h1>Register</h1>
        <div class="reg1">
            <h3>PERSONAL INFORMATION</h3>
            <p class="p">First Name</p>
            <div>
                <input name="text" type="FIRST_NAME" placeholder="Enter First Name" class="First"/>
            </div>
            <p class="p">Last Name</p>
            <div>
                <input name="text" type="LAST_NAME" placeholder="Enter Last Name" class="last"/>
            </div>
            <p class="p">Eamil Address </p>
            <div>
                <input name="text" type="Email_Address" placeholder="Enter Email " class="eadd"/>
            </div>
            <h6 class="h6">SIGN UP FOR NEWSLETTER</h6>
        </div>
        <div class="reg2">
            <h3>LOGIN INFORMATION</h3>
            <p class="p">Password</p>
            <div>
                <input type="Password" name="Password" placeholder="Enter Password" maxlength="8" class="pass"  />
            </div>
            <p class="p">Confirm Password</p>
            <div>
                <input type="Confirm-Password" name="Confirm-Password" placeholder="Enter Confirm-Passworda" maxlength="8" class="cpass" />
            </div>
            <div>
                <input type="submit" name="submit" value="Submit" class="sign"/>
            </div>
        </div>
    </section>
    <section>
        <div class="flex1">
            <div class="button">
                <h2>MORE INFO</h2>
                <a href=""><li>How to order</li></a>
                <a href=""><li>FAQ</li></a>
                <a href=""><li>Location</li></a>
                <a href=""><li>Shipping</li></a>
                <a href=""><li>Membership</li></a>
            </div>
            <div class="button">
                <h2>CONTACT US</h2>
                <li>Contrary to popular belief</li>
               <li>The standard chunk</li>
               <li>Office: 0303-4825132</li>
            </div>
            <div class="button">
                <h2>NEWSLETTER</h2>
               <li>Sign up to get all news update and promo</li><br>
               <input type="search" placeholder="" style="width: 260px; padding: 10px;"><input type="button" value="Sign up" style="padding: 10px; cursor: pointer; background-color: rgb(240, 119, 75);">
            </div>
            </div>
            <h2 class="footer">@2020 New Store All Rights Reserved | Designed by Muhammad Arsal.</h2>
        </footer>
    </section>
</body>
</html>