/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
.header{
    width: 100%;
        height: 7vh;
        background-color: #333;
        line-height: 7vh;
}   
.search{
    margin-left: 40px;
}
.Go{
    margin-left: -5px;
    background-color: rgba(134, 134, 182, 0.616);
}
.login{
    margin-left: 50%;
    text-decoration: none;
    color: white;
}
.registration{
    margin-left: 20px;
    text-decoration: none;
    color: white;
}
.fa-cart-arrow-down{
    color: white;
    font-size: 30px;

}
.span{
    color: aliceblue;
    margin-left: 20px;
}
.nav{
    width: 100%;
    height: 12vh;
    background-color: white;
    border-bottom: 2px solid black;
    display: flex;
}
.navs{
    width: 100%;
    height: 12vh;
    // background-color: white;
    // border-bottom: 2px solid black;
    display: flex;
}
img{
    height: 9vh;
    margin-left: 90px;
    margin-top: 5px;

}
.links{
    margin-left: 38%;
    padding: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    
}
.home{
    margin-right: 20px;
    text-decoration: none;
    color: black;
}
.home:hover{
    color: red;
}
.man{
    margin-right: 20px;
    text-decoration: none;
    color: black;
}
.man:hover{
    color: red;
}
.women{
    margin-right: 20px;
    text-decoration: none;
    color: black;
}
.women:hover{
    color: red;
}
.blogs{
    margin-right: 20px;
    text-decoration: none;
    color: black;
}
.blogs:hover{
    color: red;
}
.conact{
    margin-right: 20px;
    text-decoration: none;
    color: black;
}
.conact:hover{
    color: red;
}
.cover{
    width: 100%;
    height: 460px;
    position: relative;
    background-image: url('images/1.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.common{
    color: white;
    width: 50%;
}
.common h1{
    font-size:50px;
    text-transform:uppercase;
    margin-bottom:10px;
    text-align:center;
    color:red;
    }
.button{
    margin-top: 10px;
    padding: 20px;
    
}    
.bt{
    background-color:orangered;
    font-size: 20px;
    color: white;
    outline: none;
    border:none;
    cursor:pointer;
    outline:none;
    padding: 10px;
}
.bt:hover{
    font-size: 1.5em;
}
.newreleased{
    width: 60%;
    height: 800px;
    margin-left: 20%;
    margin-top: 100px;
}
h1{
    text-align: center;
}
.pics{
    display: flex;
    text-align: center;
}
.shirt{
    margin: auto;
    width: 200px;
    height: 200px;
    
}
.jecket{
    width: 200px;
    height: 200px;
    
}.watch{
    width: 200px;
    height: 200px;
    
}
.dual{
    margin: auto;
    width: 200px;
    height: 200px;
    
}
.suit{
    width: 200px;
    height: 200px;
    
}
.half{
    width: 200px;
    height: 200px;
    
}
.pics1{
    display: flex;
    margin-top: 60px;
    text-align: center;
}
.feactured{
    width: 60%;
    height: 70vh;
    margin-left: 20%;
}
.pics3{
    display: flex;
    margin-top: 60px;
    text-align: center;
}
.pent{
    width: 400px;
    height: 300px;
    margin-left: -0px;
}
.bag{
    width: 340px;
    height: 100px;
    margin-left: 5px;
}
.black{
    margin-left: -479px;
    margin-top: 110px;
    width: 200px;
    height: 195px;
}
.bags{
    margin-left: -150px;
    margin-top: 110px;
    width: 150px;
    height: 195px;
}
.logo{
    width: 100%;
    height: 20vh;
    display: flex;
    
}
.logom{
    padding-right: 40px;
    margin-top: 10px;
}
.flex{
    display: flex;
    padding-right: 10%;
    padding-left: 20%;
}
hr{
    width: 300px;
    padding: 2px;
    background-color:rgb(54, 52, 52);
}
footer{
    background-color: rgb(32, 32, 32);
}
.button{
    padding: 5%;
    color: white;
}
.button li{
    color: rgb(146, 146, 146);
    list-style-type: none;
    font-size: 20px;
    line-height: 2em;
}
.button a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.flex1{
    display: flex;
    padding-left: 9%;
    padding-right: 5%;
    background-color: rgb(54, 52, 52);
}
.footer{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.account{
    width: 80%;
    height: 70vh;
    margin-left: 120px;
    margin-top: 70px;
}
.p{
    margin-left: 10px;
    margin-top: 10px;
}
.email{
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid black;
    width: 60%;
    height: 5vh;
    padding: 20px;
    
}
::placeholder{
    color: black;

}
.password{
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid black;
    width: 60%;
    height: 5vh;
    padding: 20px;
    
}
.sign{
    margin: 10px;
    margin-top: 15px;
    width: 100px;
    height: 7vh;
    border: none;
    background-color: orangered;
    color: white;
    padding: 5px;
    cursor: pointer;
    
}
.sign:hover{
    font-size: 1.5em;
}
.offer{
    margin-left: 63%;
    margin-top: -20%;
    width: 300px;
    height: 350px;
}
.register{
    width: 70%;
    height: 70vh;
    margin-left: 180px;
    margin-top: 70px;
    
}
.reg1{
    margin-top: 20px;
    width: 50%;
    height: 55vh;
}
.First{
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid black;
    width: 90%;
    height: 5vh;
    padding: 20px;
}
.last{
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid black;
    width: 90%;
    height: 5vh;
    padding: 20px;
    
}
.eadd{
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid black;
    width: 90%;
    height: 5vh;
    padding: 20px;
}
.h6{
    margin-top: 10px;
    margin-left: 10px;
    color:red;
}
.reg2{
    margin-top: -33.8%;
    width: 50%;
    height: 55vh;
    float: right;
}
.pass{
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid black;
    width: 90%;
    height: 5vh;
    padding: 20px;
    
}
.cpass{
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid black;
    width: 90%;
    height: 5vh;
    padding: 20px;
}
.contact{
    width: 70%;
    height: 80vh;
    margin-top: 50px;
    margin-left: 180px;
}
.name{
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px;
    width: 70%;
    height: 9vh;
}
.email1{
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px;
    width: 70%;
    height: 9vh;
}
.subject{
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px;
    width: 70%;
    height: 9vh;
}
.message{
    margin-left: 10px;
    margin-top: 20px;
    width: 70%;
    height: 20vh;
    padding: 10px;
}
.addresso{
    float: right;
    margin-top: -400px;
    margin-right: 70px;
    
}
.address1{
    float: right;
    margin-top: -300px;
    margin-right: 45px;
}
.Blog{
    width: 100%;
    height: 280vh;
}
.Blog .container{
    width: 90%;
    height: 280vh;
    margin: auto;
    position: relative;
}
section.Blog .upper{
    position: absolute;
    width: 100%;
    height: 5%;
    
}
.Blog .left{
    position: absolute;
    top:95px;
    width: 50%;
    height: 80%;
    
    
}
.Blog .right{
    position: absolute;
    top: 95px;
    width: 50%;
    height: 80%;
    right: 0; 
    
}
.Blog .left #none{
    text-decoration: none;
    font-weight: bold;
}
.Blog .left #none:hover{
    color: red;
}
.Blog .left .card{
    width: 500px;
    height: 300px;
    background-image: url('Estore/images/b1.jpg');
    background-size: cover;
    margin-top: 10px;
}
.Blog .left  ul li{
    list-style-type: none;
    display: inline;
    margin-right: 10px;
}
.Blog .left  ul li i{
    margin-right: 10px;
    
}
.Blog .left .under_para{
    margin-top: 10px;
    width: 500px;
    height: 100px;
}
.Blog .left .more{
    margin-bottom: 5px;
    margin-top: 10px ;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: orangered;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
.Blog .left .more:hover{
    background-color: black;
}

.Blog .right #none{
    text-decoration: none;
    font-weight: bold;
}
.Blog .right #none:hover{
    color: red;
}
.Blog .right .card{
    width: 500px;
    height: 300px;
    background-image: url('Estore/images/b3.jpg');
    background-size: cover;
    margin-top: 10px;
}
.Blog .right  ul li{
    list-style-type: none;
    display: inline;
    margin-right: 10px;
}
.Blog .right  ul li i{
    margin-right: 10px;
    
}
.Blog .right .under_para{
    margin-top: 10px;
    width: 500px;
    height: 100px;
}
.Blog .right .more{
    margin-bottom: 5px;
    margin-top: 10px ;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: orangered;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
.Blog .right .more:hover{
    background-color: black;
}
.Men{
    width: 100%;
    height: 180vh;
}
.Men .containers{
    width: 90%;
    height: 180vh;
    margin: auto;
}
.containers .aside{
    width: 20%;
    height: 180vh;
}
.containers .aside .cate{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    border-bottom: 2px solid black;
}
.containers .aside .list ul li{
    list-style-type: none;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.containers .aside .now{
    width: 210px;
    height: 50px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    background-image: url('images/pro1.jpg');

}
.containers .aside .now .shop{
    color: blanchedalmond;
    font-weight: bolder;
    border: 2px solid blanchedalmond;
    float: right;
    margin-top: 10px;
    margin-right: 15px;
    padding: 6px;
    cursor: pointer;
}
.containers .aside .now .shop:hover{
    background-color: chocolate;
}
.containers .aside .tags {
    display: flex;
    cursor: pointer;
    margin-top: 20px;
  
}
.containers .aside  .seller{
     width: 70px;
     height: 80px;
     border: 1px solid black;
     margin-top: 15px;
     margin-left: 19px;
     background-image: url('images/se1.jpg');
     
}
.containers .aside  .seller .mrs{
    margin-left: 80px;
    margin-top: 10px;
    font-weight: bolder;
}
.containers .aside  .seller .dollar{
    margin-left: 80px;
    margin-top: 10px;
    font-weight: bolder;
    color: red;
}
.containers .aside  .seller1{
    width: 70px;
    height: 80px;
    border: 1px solid black;
    margin-top: 15px;
    margin-left: 19px;
    background-image: url('images/se2.jpg');
    
}
.containers .aside  .seller1 .mrs1{
    margin-left: 80px;
    margin-top: 10px;
    font-weight: bolder;
}
.containers .aside  .seller1 .dollar1{
    margin-left: 80px;
    margin-top: 10px;
    font-weight: bolder;
    color: red;
}
.containers .aside .pros{
    width: 200px;
    height: 280px;
    border: 1px solid black;
    margin-top: 35px;
    margin-left: 19px;
    background-image: url('images/pro.jpg');
    color: red;
    text-align: center;
    margin-top: 20px;
    font-size: 70px;
    font-family: agency FB;
}
.tag1{
    width: 23%;
    height: 30px;
    border: 1px solid black;
    margin-right: 10px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    
}
.tag1:hover{
    background-color: chocolate;
    color: white;
}


.product_right{
	position: absolute;
	right:0;
    margin-top: -87%;
    margin-right: 80px;
	width:70%;
	height: 180vh;
}
.product_right .main_products{
	display:flex;

}
.product_right .main_products2{
	display:flex;

}
.product_right .main_products .product1,.product2,.product3{
	height:60vh;
	width:32%;
	position:relative;
	margin-bottom: 20px;

	
}
.product_right .main_products2 .product4,.product5,.product6{
	height:60vh;
	width:32%;
	position:relative;

	
}
.product_right .main_products .product1{
	margin-right:17px;
}
.product_right .main_products .product2{
	margin-right:17px;
}
.product_right .main_products2 .product4{
	margin-right:17px;
}
.product_right .main_products2 .product5{
	margin-right:17px;
}
.product_right .main_products .product1 .img{
    position: absolute;
	top:70px;
    width: 100%;
    height: 200px;
	background-image: url("Estore/images/pi.jpg");
	background-size: 100% 100%;
	margin-right:17px;

}
.product_right .main_products .product2 .img{
	position: absolute;
	top:70px;
	height:200px;
	width:100%;
	background-image: url("Estore/images/pi2.jpg");
	background-size: 100% 100%;
	margin-right:17px;
}
.product_right .main_products .product3 .img{
	position: absolute;
	top:70px;
	height:200px;
	width:100%;
	background-image: url("Estore/images/pi1.jpg");
	background-size: 100% 100%;
	margin-right:17px;
}
.product_right .main_products2 .product4 .img{
	position: absolute;
	top:70px;
	height:200px;
	width:100%;
	background-image: url("Estore/images/pi.jpg");
	background-size: 100% 100%;
	margin-right:17px;
}
.product_right .main_products2 .product5 .img{
	position: absolute;
	top:70px;
	height:200px;
	width:100%;
	background-image: url("Estore/images/pi4.jpg");
	background-size: 100% 100%;
    margin-right:17px;

}
.product_right .main_products2 .product6 .img{
	position: absolute;
	top:70px;
	height:200px;
	width:100%;
	background-image: url("Estore/images/pi5.jpg");
	background-size: 100% 100%;
	margin-right:17px;
}
.product_right .main_products .product1 .text{
	position: absolute;
	top:70%;
	
	height:15%;
	width: 100%;
}
.product_right .main_products .product2 .text{
	position: absolute;
	top:70%;
	
	height:15%;
	width: 100%;
}
.product_right .main_products .product3 .text{
	position: absolute;
	top:70%;
	
	height:15%;
	width: 100%;
}
.product_right .main_products2 .product4 .text{
	position: absolute;
	top:70%;
	
	height:15%;
	width: 100%;
}
.product_right .main_products2 .product5 .text{
	position: absolute;
	top:70%;
	
	height:15%;
	width: 100%;
}
.product_right .main_products2 .product6 .text{
	position: absolute;
	top:70%;
	
	height:15%;
	width: 100%;
}
.product_right .main_products .product1 .price{
	position: absolute;
	bottom:0;
	background-color: #EF5F21;
	height:15%;
	width: 100%;
}
.product_right .main_products .product2 .price{
	position: absolute;
	bottom:0;
	background-color: #EF5F21;
	height:15%;
	width: 100%;
}
.product_right .main_products .product3 .price{
	position: absolute;
	bottom:0;
	background-color: #EF5F21;
	height:15%;
	width: 100%;
}
.product_right .main_products2 .product4 .price{
	position: absolute;
	bottom:0;
	background-color: #EF5F21;
	height:15%;
	width: 100%;
}
.product_right .main_products2 .product5 .price{
	position: absolute;
	bottom:0;
	background-color: #EF5F21;
	height:15%;
	width: 100%;
}
.product_right .main_products2 .product6 .price{
	position: absolute;
	bottom:0;
	background-color: #EF5F21;
	height:15%;
	width: 100%;
}
.comment{
    width: 95%;
    height: 170vh;
    margin: auto;
    margin-top: 20px;
}
.lorem{
    margin-left: 10px;
    font-weight: bold;
    color: blue;
}
.comment .com{
    width: 95%;
    height: 80vh;
    margin-left: 10px;
}
.comment .namec{
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px;
    width: 95%;
    height: 9vh;
}
.comment .emailc{
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px;
    width: 95%;
    height: 9vh;
}
.comment .subjectc{
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px;
    width: 95%;
    height: 9vh;
}
.comment .messagec{
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px;
    width: 95%;
    height: 20vh;
}
.comment .send{
    margin-left: 20px;
    margin-top: 10px;
    width: 80px;
    height: 50px;
    border: none;
    outline: none;
    background: chocolate;
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
}
.comment .send:hover{
    color: cornsilk;
    font-size: 1.4em;
}
.cart{
  width: 50%;
  height: 100vh;
  border: 2px solid black;
}
.cart .pic1{
    width: 200px;
    height: 250px;
    margin-top: 30px;
    
}
.cart .mount4{
    float: right;
    margin-top: 50px;
    margin-right: 110px;
    font-size: 20px;
    font-weight: bolder;


}
.cart .model{
    float: right;
    margin-top: -140px;
    margin-right: 264px;
    font-size: 15px;
    font-weight: bolder;
}
.cart .size{
    float: right;
    margin-top: -100px;
    margin-right: 130px;
    font-size: 14px;
    
}
.cart .charge{
    float: right;
    margin-top: -60px;
    margin-right: 220px;
    font-size: 14px;
    
}

body{

    background: #eee;
}


.wrapper{

    margin-top: 30px;
}

.card{

    border:1px solid #eee;
    cursor: pointer;
}


.weight{

    margin-top: -65px; 
    transition: all 0.5s;  
}

.weight small{

    color: #e2dede;
}

.buttons {
        padding: 10px;
    background-color: #d6d4d44f;
    border-radius: 4px;
    position: relative;
    margin-top: 7px;
    opacity: 0;
    transition: all 0.8s;
}

.dot {
    height: 14px;
    width: 14px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    left: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    color: #fff;
    opacity: 0;
}

.cart-button {
    height: 48px
}

.cart-button:focus {
    box-shadow: none
}

.cart {
    position: relative;
    height: 48px !important;
    width: 50px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 11px;
    border-radius: 5px;
    font-size: 14px;
    transition: 1s ease-in-out;
    overflow: hidden;

}

.cart-button.clicked span.dot {
    animation: item 0.3s ease-in forwards
}

@keyframes item {
    0% {
        opacity: 1;
        top: 30%;
        left: 30%
    }

    25% {
        opacity: 1;
        left: 26%;
        top: 0%
    }

    50% {
        opacity: 1;
        left: 23%;
        top: -22%
    }

    75% {
        opacity: 1;
        left: 19%;
        top: -18%
    }

    100% {
        opacity: 1;
        left: 14%;
        top: 28%
    }
}



.card:hover .buttons{

    opacity: 1;
}


.card:hover .weight{

     margin-top: 10px;
}

.card:hover{

    transform: scale(1.04);
    z-index: 2;
    overflow: hidden;
}

.title{
    height: 9vh;
    margin-left: -82px;
    margin-top: 5px;
    
}


@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.active {
    color: red;
    // border-bottom: 5px solid red;
}
.sidebar {
    width: 200px;
    background: #fff;
    box-shadow: -6px -3px 16px #d4e3de;
    position: fixed;
    height: 100%;
    overflow: auto;
    // top: 0px;
    left: 0px;
    right: 0px;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
    
  }
  
  .sidebar a.active {
    background-color: #c10017;
    color: white;
  }
  .btn-active {
    background-color: #04AA6D;
    color: #fff;
    border-color: #04AA6D;
    // width: 20.76%;
  }
  
  
  .sidebar a:hover:not(.active) {
    background-color: rgb(99, 99, 99);
    color: white;
  }
  
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .size {
    font-size: 20px;
  }
  #table tbody tr th{
    background-color: #1d1e1c12;
    color: #1d1e1cb3;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.25;
  }
  .navbar{
    width: 100%;
    height: 80px;
    background: var(--white);
    box-shadow: 0px -5px 17px #D4E3DE;
  }
  .navbar___brand{
    height: 70px;
    width: 160px;
  }
  #mynavbar .btn:hover{
    color: #FFFFFF !important;
  }
  .form__main{
    background: #FFFFFF;
      box-shadow: 0px 4px 30px #E9F4F0;
      border-radius: 18px;
      width: 341px;
      height: auto;
      margin: 0 auto;
      margin-top: 60px;
      padding: 45px !important;
  }
  .navbar .dropdown img{
    border-radius: 50px;
  }
  .form__main h2{
    color: #c10017;
  }
  // .form__main label{
  //   color: #c10017;
  // }
  .form__main input:focus{
    box-shadow: none;
  }

  .background-image{
    // display: flex;
    // align-items: center;
    background:url("https://images.unsplash.com/photo-1655853079719-b288ca887461?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-position: center;
    height: 100vh;
    // opacity: 2;
  }
  .background-image .overlay{
    background-color: rgba(43,45,66,0.7);
    height: 100%;
  }
  .landing{
    display: flex;
    align-items: center;
    height: calc(100vh - 100px);
  }
  .button__row{
    padding: 10px;
    border-bottom: 2px solid #c10017;
  }
  .button__row button{
    margin: 10px ;
  }
  .deleteselect_btn{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .attach__card{
    box-shadow: 0px 4px 30px #E9F4F0;
    border-radius: 18px;
  }
  
  .navbar{
    background: #ffffff;
    box-shadow: 0px -5px 17px #D4E3DE;
    height: 80px;
  }
  .navbar .navbar-brand img{
    width: 180px !important;
    height: 60px !important;
  }
  .navbar ul li a{
    text-decoration: none;
    color: #c10017 !important;
    font-size: 18px;
    font-weight: 700;
  }
  .navbar ul li a:hover{
    color: #c10017;
  }
  .navbar .active{
    border-bottom: 1px solid #c10017;
  }
  .sign__out__button{
    color: #c10017;
    font-weight: 700;
  }
  .sub__nav{
    background: #c10017;
    height: 48px;
  }
  .sub__nav .active{
    border-bottom: 1px solid #ffffff;
  }
  .sub__nav ul li a{
    color: #ffffff !important;
    font-size: 14px; 
    font-weight: normal;
    cursor: pointer;
  }
  .sub__nav ul li a:hover{
    color: #ffffff;
  }
  @media(max-width:480px){
    .navbar{
      height: auto !important;
    }
    .sub__nav{
      height: 48px !important;
    }
    .add__newsheet{
      width: 40px;
      height: 35px;
      padding: 3px;
    }
    .add__newsheet .fa-plus{
      width: 20px;
      height: 20px;
    } 
  }
  @media(min-width:481px) and (max-width:767px){
    .navbar{
      height: auto !important;
    }
    .sub__nav{
      height: 48px !important;
    }
    .add__newsheet{
      width: 40px;
      height: 35px;
      padding: 3px;
    }
    .add__newsheet .fa-plus{
      width: 20px;
      height: 20px;
    }
  }
  @media(min-width:768px) and (max-width:998px){
    .navbar{
      height: auto !important;
    }
    .add__newsheet{
      width: 40px;
      height: 35px;
      padding: 3px;
    }
    .add__newsheet .fa-plus{
      width: 20px;
      height: 20px;
    }
  }
.size strong{
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
}
.size span{
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
}
#prev_day_selected{
  border: 1px solid #000;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
#next_day_selected{
  border: 1px solid #000;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#me-2 {
  color: #fff !important;
  width: 46px !important;
  border-radius: 9px !important;
}
.video_div video{
  width: 385px !important;
}