<div id="<%= dom_id product %>">
  <div class="wrapper">
    <div class="container">
      <div class="row g-1">
        <div class="col-md-3">
          <div class="card p-3">
            <div class="text-center">
              <% if product.pictures.any? %>
                <ul>
                  <% product.pictures.each do |picture| %>
                    <% picture.pictures.each do |p| %>
                      <%= link_to image_tag(p), product%>
                      <% break %>
                    <% end %>
                  <% end %>
                </ul>
              <% end %>
            </div>
            <div class="product-details">
              <span class="font-weight-bold d-block">$ 7.00</span>
              <span><%= product.title %></span>
              <div class="buttons d-flex flex-row">
                <div class="cart"><i class="fa fa-shopping-cart"></i></div><button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart </button>
            </div>
            <div class="weight">
              <small>1 piece 2.5kg</small>                                           
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

